.add-user label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.add-user input {
	font: inherit;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	box-sizing: border-box;
}

.add-user input:focus {
	outline: none;
	border-color: #4f005f;
}
