.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;
}

.modal {
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.75);
}

.header {
	background: #42c487;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

@media (min-width: 768px) {
	.modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes opIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes opOut {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.backdrop.false {
	animation: opOut 0.5s forwards;
}

.backdrop.true {
	animation: opIn 0.5s forwards;
}
